@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #161513;
}
#home {
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 85px;
    color: white;
    background-color: #222222;
    position: fixed;
    z-index: 99;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 475px;
    height: 20px;
    list-style: none;
    font-family: 'Plus Jakarta Sans';
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 475px;
}
.point {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 5px;
}
nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
nav li:hover {
    background: linear-gradient(90deg, rgba(255,134,96,1) 0%, rgba(154,51,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease;
}
nav ul li:hover > .point {
    transition: 0.3s ease;
    width: 45px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(255,134,96,1) 0%, rgba(154,51,255,1) 100%);
}
a {
    color: white;
    text-decoration: none;
}
main {
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    color: white;
    text-align: center;
    font-family: 'Poppins';
    position: relative;
    top: 50px;
}
main h1 {
    color: white;
    font-size: 55px;
    line-height: 50px;
}
main h1 span {
    background: linear-gradient(90deg, rgba(255,134,96,1) 0%, rgba(154,51,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main h2 span {
    background: linear-gradient(90deg, rgba(255,134,96,1) 0%, rgba(154,51,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main p {
    width: 680px;
    color: #C5C5C5;
    font-size: 18px;
}
main ul {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    list-style: none;
}
main ul li button {
    cursor: pointer;
    width: 195px;
    height: 65px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins';
    border-radius: 50px;
}
.hire_btn {
    background: white;
    border: none;
    transition: 0.3s ease;
    border: 2px solid #161513;
}
.hire_btn:hover {
    background-color: #222222;
    color: white;
    border: 2px solid white;
}

.exp ul li {
    width: 90px;
}
.exp ul li p {
    width: 90px;
}
.exp ul li ion-icon {
    font-size: 42px;
}
.exp ul li:hover {
    background: linear-gradient(90deg, rgba(255,134,96,1) 0%, rgba(154,51,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease;

}
.exp h3 {
    font-size: 42px;
}
.contact {
    font-family: 'Poppins';
    width: 100vw;
    background-color: #191919;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact h3 {
    font-size: 24px;
    color: white;
}
.contact p {
    color: #C5C5C5;
    width: 676px;
    font-size: 14px;
}
.contact ul {
    display: flex;
    width: 139px;
    justify-content: space-between;
    list-style: none;
    align-self:center;
}
.contact a p {
    font-size: 18px;

}
.contact ul li ion-icon {
    color: white;
    font-size: 30px;
}